body{
  background-color: black;
  color: white;
  border: 55px solid cyan;
  border-top: 0px;
  margin:0px;
 font-family: 'Shadows Into Light', cursive;
 font-size: 1.5em;
}

.first{
  text-align: center;
}
.second{
  text-align:center;
}
.third
{
  text-align: center;
}
.emailform{
  text-align: center;
}
.cat{
  text-align: center;
}
form{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#sub{
  background-color: green;
  height: 80px;
  width: 150px;
  font-size: 1em;
  border-radius: 25px;
}
